-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."TemplateType" AS ENUM ('PIC', 'PGD', 'NPS', 'PST');

-- CreateEnum
CREATE TYPE "public"."TemplateScope" AS ENUM ('GLOBAL', 'TENANT');

-- CreateEnum
CREATE TYPE "public"."TemplateVersionStatus" AS ENUM ('DRAFT', 'PENDING_APPROVAL', 'APPROVED', 'PUBLISHED', 'REJECTED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "public"."ProjectKState" AS ENUM ('PENDING_VALIDATION', 'VALIDATED', 'RELEASED');

-- CreateEnum
CREATE TYPE "public"."SignalPolicy" AS ENUM ('HARD_BLOCK', 'SOFT_ALERT');

-- CreateEnum
CREATE TYPE "public"."SignalKind" AS ENUM ('PAYMENT', 'PERMITS_PARKING', 'PGD_BLOCKING_DOCS', 'CRATES', 'THIRD_PARTIES');

-- CreateEnum
CREATE TYPE "public"."PgdItemStatus" AS ENUM ('MISSING', 'SUBMITTED', 'VALIDATED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."PgdVisibility" AS ENUM ('CLIENT_VIEW', 'INTERNAL_VIEW');

-- CreateEnum
CREATE TYPE "public"."PgdResponsible" AS ENUM ('CLIENT', 'SUPERVISOR', 'DRIVER', 'INTERNAL');

-- CreateEnum
CREATE TYPE "public"."PgdFileType" AS ENUM ('PDF', 'PHOTO', 'SIGNATURE', 'OTHER');

-- CreateEnum
CREATE TYPE "public"."OsiKind" AS ENUM ('EXTERNAL', 'INTERNAL');

-- CreateEnum
CREATE TYPE "public"."OsiCustodyStatus" AS ENUM ('DRIVER', 'SUPERVISOR');

-- CreateEnum
CREATE TYPE "public"."OsiHandshakeStatus" AS ENUM ('PENDING', 'COMPLETED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."PtfSuggestionStatus" AS ENUM ('PENDING', 'APPLIED', 'IGNORED', 'ESCALATED');

-- CreateTable
CREATE TABLE "public"."osi_users" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "department" TEXT,
    "joinDate" TEXT NOT NULL,
    "points" INTEGER NOT NULL DEFAULT 0,
    "rating" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "passwordHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "osi_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_clients" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "totalServices" INTEGER NOT NULL DEFAULT 0,
    "lastService" TEXT,
    "createdAt" TEXT NOT NULL,

    CONSTRAINT "osi_clients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_projects" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "clientName" TEXT NOT NULL,
    "quoteId" TEXT,
    "leadId" TEXT,
    "pstCode" TEXT,
    "pstServiceName" TEXT,
    "status" TEXT NOT NULL,
    "startDate" TEXT NOT NULL,
    "endDate" TEXT,
    "kState" "public"."ProjectKState" NOT NULL DEFAULT 'PENDING_VALIDATION',
    "kValidatedAt" TIMESTAMP(3),
    "kReleasedAt" TIMESTAMP(3),
    "osiCount" INTEGER NOT NULL DEFAULT 0,
    "totalValue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "assignedTo" TEXT,
    "notes" TEXT,

    CONSTRAINT "osi_projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_project_signals" (
    "id" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "kind" "public"."SignalKind" NOT NULL,
    "policy" "public"."SignalPolicy" NOT NULL,
    "warnAt" TIMESTAMP(3),
    "dueAt" TIMESTAMP(3),
    "doneAt" TIMESTAMP(3),
    "ackAt" TIMESTAMP(3),
    "ackNote" TEXT,
    "ackById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "osi_project_signals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_project_pgd" (
    "id" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "templateVersionId" TEXT NOT NULL,
    "appliedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "appliedById" TEXT,

    CONSTRAINT "osi_project_pgd_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_project_pgd_items" (
    "id" TEXT NOT NULL,
    "projectPgdId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "visibility" "public"."PgdVisibility" NOT NULL,
    "responsible" "public"."PgdResponsible" NOT NULL,
    "isBlocking" BOOLEAN NOT NULL DEFAULT false,
    "expectedFileType" "public"."PgdFileType" NOT NULL DEFAULT 'OTHER',
    "serviceTags" TEXT[],
    "status" "public"."PgdItemStatus" NOT NULL DEFAULT 'MISSING',
    "validatedAt" TIMESTAMP(3),
    "validatedById" TEXT,
    "note" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "osi_project_pgd_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_osis" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "projectId" TEXT NOT NULL,
    "projectCode" TEXT NOT NULL,
    "clientId" TEXT NOT NULL,
    "clientName" TEXT NOT NULL,
    "kind" "public"."OsiKind" NOT NULL DEFAULT 'EXTERNAL',
    "status" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "origin" TEXT NOT NULL,
    "destination" TEXT NOT NULL,
    "scheduledDate" TEXT NOT NULL,
    "scheduledStartAt" TEXT,
    "scheduledEndAt" TEXT,
    "supervisorId" TEXT,
    "driverId" TEXT,
    "pstCode" TEXT,
    "pstTemplateVersionId" TEXT,
    "ptfCode" TEXT,
    "petCode" TEXT,
    "ptfMaterialPlan" JSONB,
    "petPlan" JSONB,
    "ptfEditedManually" BOOLEAN NOT NULL DEFAULT false,
    "petEditedManually" BOOLEAN NOT NULL DEFAULT false,
    "custodyStatus" "public"."OsiCustodyStatus" NOT NULL DEFAULT 'DRIVER',
    "custodyTransferredAt" TIMESTAMP(3),
    "driverAvailable" BOOLEAN NOT NULL DEFAULT false,
    "vehicleAvailable" BOOLEAN NOT NULL DEFAULT false,
    "lastMaterialDeviation" JSONB,
    "startedAt" TIMESTAMP(3),
    "endedAt" TIMESTAMP(3),
    "npsScore" INTEGER,
    "supervisorNotes" TEXT,
    "ecoPoints" INTEGER,
    "createdAt" TEXT NOT NULL,
    "assignedTo" TEXT,
    "team" TEXT[],
    "vehicles" TEXT[],
    "value" DOUBLE PRECISION NOT NULL,
    "notes" TEXT,

    CONSTRAINT "osi_osis_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_osi_change_logs" (
    "id" TEXT NOT NULL,
    "osiId" TEXT NOT NULL,
    "actorUserId" TEXT,
    "actorRole" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "fieldPath" TEXT,
    "beforeJson" JSONB,
    "afterJson" JSONB,
    "reason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "osi_osi_change_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_osi_handshakes" (
    "id" TEXT NOT NULL,
    "osiId" TEXT NOT NULL,
    "status" "public"."OsiHandshakeStatus" NOT NULL DEFAULT 'PENDING',
    "fromRole" TEXT NOT NULL,
    "fromUserId" TEXT,
    "toRole" TEXT NOT NULL,
    "toUserId" TEXT,
    "type" TEXT NOT NULL DEFAULT 'TACTICAL_TRANSFER',
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "notes" TEXT,
    "payloadJson" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "osi_osi_handshakes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_osi_material_returns" (
    "id" TEXT NOT NULL,
    "osiId" TEXT NOT NULL,
    "pstCode" TEXT,
    "ptfCode" TEXT,
    "dispatchedJson" JSONB NOT NULL,
    "returnedJson" JSONB NOT NULL,
    "deviationJson" JSONB NOT NULL,
    "recordedById" TEXT,
    "recordedByRole" TEXT,
    "recordedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "osi_osi_material_returns_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_ptf_adjustment_suggestions" (
    "id" TEXT NOT NULL,
    "pstCode" TEXT NOT NULL,
    "ptfCode" TEXT,
    "status" "public"."PtfSuggestionStatus" NOT NULL DEFAULT 'PENDING',
    "basedOnOsiIds" TEXT[],
    "occurrences" INTEGER NOT NULL DEFAULT 0,
    "recommendedDelta" JSONB NOT NULL,
    "reason" TEXT,
    "ignoredCount" INTEGER NOT NULL DEFAULT 0,
    "lastIgnoredAt" TIMESTAMP(3),
    "lastActionById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "osi_ptf_adjustment_suggestions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_escalation_events" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "targetRoles" TEXT[],
    "suggestionId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "resolvedAt" TIMESTAMP(3),
    "resolvedById" TEXT,
    "metadataJson" JSONB,

    CONSTRAINT "osi_escalation_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_templates" (
    "id" TEXT NOT NULL,
    "type" "public"."TemplateType" NOT NULL,
    "name" TEXT NOT NULL,
    "scope" "public"."TemplateScope" NOT NULL DEFAULT 'TENANT',
    "tenantId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "publishedVersionId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "osi_templates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."osi_template_versions" (
    "id" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "version" INTEGER NOT NULL,
    "status" "public"."TemplateVersionStatus" NOT NULL DEFAULT 'DRAFT',
    "contentJson" JSONB,
    "contentHtml" TEXT,
    "changeSummary" TEXT,
    "requestedAt" TIMESTAMP(3),
    "approvedAt" TIMESTAMP(3),
    "publishedAt" TIMESTAMP(3),
    "createdById" TEXT NOT NULL,
    "approvedById" TEXT,
    "rejectedById" TEXT,
    "baseVersionId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "osi_template_versions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "osi_users_code_key" ON "public"."osi_users"("code");

-- CreateIndex
CREATE UNIQUE INDEX "osi_users_email_key" ON "public"."osi_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "osi_clients_code_key" ON "public"."osi_clients"("code");

-- CreateIndex
CREATE UNIQUE INDEX "osi_projects_code_key" ON "public"."osi_projects"("code");

-- CreateIndex
CREATE INDEX "osi_project_signals_projectId_kind_idx" ON "public"."osi_project_signals"("projectId", "kind");

-- CreateIndex
CREATE UNIQUE INDEX "osi_project_signals_projectId_kind_key" ON "public"."osi_project_signals"("projectId", "kind");

-- CreateIndex
CREATE UNIQUE INDEX "osi_project_pgd_projectId_key" ON "public"."osi_project_pgd"("projectId");

-- CreateIndex
CREATE INDEX "osi_project_pgd_items_projectPgdId_status_idx" ON "public"."osi_project_pgd_items"("projectPgdId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "osi_osis_code_key" ON "public"."osi_osis"("code");

-- CreateIndex
CREATE INDEX "osi_osi_change_logs_osiId_createdAt_idx" ON "public"."osi_osi_change_logs"("osiId", "createdAt");

-- CreateIndex
CREATE INDEX "osi_osi_handshakes_osiId_status_idx" ON "public"."osi_osi_handshakes"("osiId", "status");

-- CreateIndex
CREATE INDEX "osi_osi_material_returns_pstCode_recordedAt_idx" ON "public"."osi_osi_material_returns"("pstCode", "recordedAt");

-- CreateIndex
CREATE INDEX "osi_osi_material_returns_osiId_recordedAt_idx" ON "public"."osi_osi_material_returns"("osiId", "recordedAt");

-- CreateIndex
CREATE INDEX "osi_ptf_adjustment_suggestions_pstCode_status_createdAt_idx" ON "public"."osi_ptf_adjustment_suggestions"("pstCode", "status", "createdAt");

-- CreateIndex
CREATE INDEX "osi_escalation_events_createdAt_idx" ON "public"."osi_escalation_events"("createdAt");

-- CreateIndex
CREATE INDEX "osi_escalation_events_suggestionId_idx" ON "public"."osi_escalation_events"("suggestionId");

-- CreateIndex
CREATE INDEX "osi_templates_type_tenantId_idx" ON "public"."osi_templates"("type", "tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "osi_templates_type_name_tenantId_key" ON "public"."osi_templates"("type", "name", "tenantId");

-- CreateIndex
CREATE INDEX "osi_template_versions_status_createdAt_idx" ON "public"."osi_template_versions"("status", "createdAt");

-- CreateIndex
CREATE INDEX "osi_template_versions_templateId_status_idx" ON "public"."osi_template_versions"("templateId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "osi_template_versions_templateId_version_key" ON "public"."osi_template_versions"("templateId", "version");

-- AddForeignKey
ALTER TABLE "public"."osi_projects" ADD CONSTRAINT "osi_projects_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "public"."osi_clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_project_signals" ADD CONSTRAINT "osi_project_signals_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "public"."osi_projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_project_signals" ADD CONSTRAINT "osi_project_signals_ackById_fkey" FOREIGN KEY ("ackById") REFERENCES "public"."osi_users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_project_pgd" ADD CONSTRAINT "osi_project_pgd_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "public"."osi_projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_project_pgd" ADD CONSTRAINT "osi_project_pgd_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "public"."osi_templates"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_project_pgd" ADD CONSTRAINT "osi_project_pgd_templateVersionId_fkey" FOREIGN KEY ("templateVersionId") REFERENCES "public"."osi_template_versions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_project_pgd" ADD CONSTRAINT "osi_project_pgd_appliedById_fkey" FOREIGN KEY ("appliedById") REFERENCES "public"."osi_users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_project_pgd_items" ADD CONSTRAINT "osi_project_pgd_items_projectPgdId_fkey" FOREIGN KEY ("projectPgdId") REFERENCES "public"."osi_project_pgd"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_project_pgd_items" ADD CONSTRAINT "osi_project_pgd_items_validatedById_fkey" FOREIGN KEY ("validatedById") REFERENCES "public"."osi_users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_osis" ADD CONSTRAINT "osi_osis_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "public"."osi_projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_osi_change_logs" ADD CONSTRAINT "osi_osi_change_logs_osiId_fkey" FOREIGN KEY ("osiId") REFERENCES "public"."osi_osis"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_osi_handshakes" ADD CONSTRAINT "osi_osi_handshakes_osiId_fkey" FOREIGN KEY ("osiId") REFERENCES "public"."osi_osis"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_osi_material_returns" ADD CONSTRAINT "osi_osi_material_returns_osiId_fkey" FOREIGN KEY ("osiId") REFERENCES "public"."osi_osis"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_escalation_events" ADD CONSTRAINT "osi_escalation_events_suggestionId_fkey" FOREIGN KEY ("suggestionId") REFERENCES "public"."osi_ptf_adjustment_suggestions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_templates" ADD CONSTRAINT "osi_templates_publishedVersionId_fkey" FOREIGN KEY ("publishedVersionId") REFERENCES "public"."osi_template_versions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_template_versions" ADD CONSTRAINT "osi_template_versions_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES "public"."osi_templates"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_template_versions" ADD CONSTRAINT "osi_template_versions_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "public"."osi_users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_template_versions" ADD CONSTRAINT "osi_template_versions_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "public"."osi_users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_template_versions" ADD CONSTRAINT "osi_template_versions_rejectedById_fkey" FOREIGN KEY ("rejectedById") REFERENCES "public"."osi_users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."osi_template_versions" ADD CONSTRAINT "osi_template_versions_baseVersionId_fkey" FOREIGN KEY ("baseVersionId") REFERENCES "public"."osi_template_versions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

